.navBar {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;

}

.navBarItem {
    border: 1px solid  var(--accentColor);
    display: flex;
    width: 50px;
    height: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;
    color: var(--accentColor);
}

.navBarItem:hover {
    color: var(--defaultPrimaryColor);
    border: 1px solid  var(--accentColor);
}

.active {
    background-color: var(--defaultPrimaryColor);
    color: white;
    border: 1px solid  var(--defaultPrimaryColor)
}
.active:hover {
    background-color: var(--defaultPrimaryColor);
    color: white;
    border: 1px solid  var(--defaultPrimaryColor)
}



