.superInput {
    border: 2px solid var(--accentColor);
    border-radius: 2px;
    margin: 2px;
}

.errorInput {
    border: 2px solid var(--errorBorderColor);
    background: #eeadad;
    border-radius: 2px;
    margin: 2px;
}

.error {
    color: var(--errorColorText);
}